p {
	margin: 0px;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0px;
}

nav {
	color: white;
	height: 55px;
	background-color: #F55A5A;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 27px;
}

.nav--text {
	font-weight: 500;
	font-size: 15px;
	padding-left: 7px;
}

.cards-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	height: 168px;
	width: 470px;
	margin-bottom: 18px;
	margin-top: 18px;
}

.pic-container {
	min-width: 125px;
	max-width: 125px;
	border-radius: 5px;
	overflow-x: hidden;
	display: flex;
  align-items: center;
  justify-content: center;
}

.location-pic {
  height: 100%;
}

.text-container {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 19px;
}

.country-text {
	font-size: 10px;
	letter-spacing: 0.17em;
}

.fa-location-dot {
	color: #F55A5A;
}

.maps-link {
	font-size: 10px;
	margin-left: 12px;
	color: #918E9B;
}

.destination-text {
	margin: 5px 0px 18px 0px;
	font-weight: 700;
	font-size: 25px;
}

.date-text {
	font-size: 10px;
	font-weight: 700;
}

.description-text {
	margin-top: 9px;
	font-size: 10px;
	font-weight: 400;
	line-height: 150%;
	color: #2B283A
}

.breakline hr {
	margin: 0px;
	padding: 0px;
	height: 1px;
	border: none;
	background: #F5F5F5;
}
