body {
	margin: 0px;
}

nav {
	color: white;
	height: 55px;
	background-color: #F55A5A;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 82px;
}

.nav--text {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 15px;
	padding-left: 7px;
}

.card {
	display: flex;
	height: 168px;
	width: 470px;
	margin: 0px 40px 18px 40px;
	border: 1px dotted blue;
}

.cards-container {
	display: flex;
	justify-content: center;
}

.pic-container {
	width: 125px;
	border: 1px dotted red;
	margin-left: 0px;
	margin-right: 19px;
}

.text-container {
	margin-right: auto;
	margin-left: 0px;
	padding: 0px;
	justify-content: flex-start;
}
